body {
  background: #b3b3b3;
}

.header {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  opacity: 0.5;
}

.header .header_top {
  width: 1300px;
  margin: auto;
}

.header .header_top ul {
  width: 380px;
  height: 36px;
  line-height: 36px;
  float: right;
}

.header .header_top ul li {
  float: left;
}

.header .header_top ul li a {
  padding-left: 22px;
  padding-right: 25px;
  font-size: 12px;
  color: #999;
  border-right: 1px solid #a5a5c2;
}

.header .header_top ul li a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: #ff6e88;
  margin-right: 4px;
}

.header .header_top ul li a span {
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #999;
}

.header .header_top ul li .header_a4 {
  padding-right: 0px;
  border-right: 0px;
}

.header_nav {
  padding-top: 20px;
  width: 1300px;
  opacity: 0.5;
  margin: auto;
}

.header_nav h1 {
  width: 132px;
  height: 48px;
  margin-right: 28px;
  float: left;
}

.header_nav h1 i {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.header_nav h1 i img {
  width: 100%;
  height: 100%;
}

.header_nav h1 span {
  margin-top: 5px;
  float: right;
}

.header_nav .catalogue {
  width: 50px;
  height: 48px;
  margin-top: 10px;
  margin-right: 100px;
  font-size: 16px;
  color: #333;
  float: left;
}

.header_nav .seach {
  width: 611px;
  height: 50px;
  font-size: 0px;
  float: left;
}

.header_nav .seach input {
  width: 560px;
  height: 50px;
  vertical-align: middle;
  background: #f7f7f7;
  color: #bfa499;
  border: 0px;
  text-indent: 14px;
  border-radius: 6px 0px 0px 6px;
  outline: none;
}

.header_nav .seach button {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #8d8d8d;
  color: #fff;
  border: 0px;
  font-size: 20px;
  border-radius: 0px 6px 6px 0px;
  outline: none;
}

.header_nav .header_nav_list {
  width: 216px;
  height: 50px;
  float: left;
}

.header_nav .header_nav_list div {
  height: 100%;
  float: left;
  padding: 0px 10px;
  font-size: 12px;
  text-align: center;
}

.header_nav .header_nav_list div p {
  width: 24px;
  height: 28px;
  font-size: 22px;
  text-indent: 6px;
}

.header_nav .header_login {
  height: 50px;
  line-height: 50px;
  float: right;
}

.header_nav .header_login .icon-denglu {
  font-size: 30px;
  vertical-align: middle;
  color: #ffe1e7;
}

.header_nav .header_login a {
  font-size: 12px;
}

.car {
  width: 100%;
  position: relative;
}

.car .car_content {
  width: 1300px;
  margin: auto;
  display: none;
}

.car .car_content h3 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
  margin-top: 30px;
  height: 47px;
}

.car .car_content h3 span {
  margin-right: 43px;
  padding: 11px 0px;
}

.car .car_content h3 .active {
  color: #ff5577;
  border-bottom: 3px solid #ff5577;
}

.car .car_content .select {
  height: 66px;
  line-height: 66px;
  background: #f6f6f6;
  text-indent: 32px;
}

.car .car_content .select span {
  margin-left: 150px;
}

.car .car_content .car_product {
  width: 100%;
  margin-bottom: 20px;
}

.car .car_content .car_product .car_product_item {
  width: 100%;
}

.car .car_content .car_product .car_product_item .car_product_title {
  height: 88px;
  line-height: 88px;
  text-indent: 32px;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}

.car .car_content .car_product .car_product_item .car_product_title span {
  font-weight: 600;
  color: #333;
  margin-left: 15px;
}

.car .car_content .car_product .car_product_item .car_product_title span img {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0px 10px;
}

.car .car_content .car_product .car_product_item .car_product_title i {
  display: inline-block;
  margin-right: 24px;
}

.car .car_content .car_product .car_product_item .car_product_title i img {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  vertical-align: middle;
}

.car .car_content .car_product .car_product_item .car_product_title a {
  display: inline-block;
  width: 80px;
  height: 30px;
  vertical-align: middle;
}

.car .car_content .car_product .car_product_item .car_product_Text {
  width: 100%;
  padding: 33px 0px;
  border: 1px solid #dddddd;
}

.car .car_content .car_product .car_product_item .car_product_Text .checkbox {
  width: 16px;
  height: 16px;
  margin-left: 32px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productMess {
  width: 690px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productMess img {
  width: 96px;
  height: 96px;
  margin: 0px 20px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productMess .productMessT {
  width: 494px;
  height: 96px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productColor {
  width: 127px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productColor p {
  font-size: 12px;
  color: #666;
  line-height: 24px;
}

.car .car_content .car_product .car_product_item .car_product_Text .productPrice {
  width: 86px;
  float: left;
  line-height: 23px;
}

.car .car_content .car_product .car_product_item .car_product_Text .productPrice .productPM {
  color: #999;
  text-decoration: line-through;
  font-size: 14px;
}

.car .car_content .car_product .car_product_item .car_product_Text .productPrice .productPP {
  color: #666;
  font-weight: 600;
}

.car .car_content .car_product .car_product_item .car_product_Text .productPrice .productN {
  color: #ff578c;
  font-size: 16px;
  font-weight: 600;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNum {
  width: 123px;
  margin-right: 43px;
  float: left;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNum span {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  margin: 0px;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNum .minus {
  margin-right: -5px;
  cursor: pointer;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNum .add {
  margin-left: -5px;
  cursor: pointer;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNum input {
  display: inline-block;
  width: 56px;
  height: 32px;
  text-align: center;
  color: #333;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  outline: none;
}

.car .car_content .car_product .car_product_item .car_product_Text .productNp {
  width: 60px;
  margin-right: 40px;
  color: #ff578c;
  float: left;
  line-height: 34px;
}

.car .car_content .car_product .car_product_item .car_product_Text .del {
  width: 34px;
  float: left;
  cursor: pointer;
}

.car .car_content .car_footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #dddddd;
}

.car .car_content .car_footer .car_footer_caozuo {
  width: 425px;
  text-indent: 32px;
  font-size: 14px;
  float: left;
}

.car .car_content .car_footer .car_footer_caozuo span {
  margin-left: 23px;
}

.car .car_content .car_footer .car_footer_caozuo i {
  margin-left: 18px;
}

.car .car_content .car_footer .car_pt {
  width: 473px;
  text-align: right;
  float: right;
  margin-bottom: 60px;
}

.car .car_content .car_footer .car_pt span {
  color: #666;
  font-size: 14px;
}

.car .car_content .car_footer .car_pt i {
  margin: 0px 6px;
}

.car .car_content .car_footer .car_pt .totalNum {
  color: #ff7b77;
}

.car .car_content .car_footer .car_pt .totalPrice {
  font-size: 24px;
  font-weight: 600;
  color: #ff5783;
}

.car .car_content .car_footer .car_pt button {
  width: 190px;
  height: 50px;
  background: #d8d8d8;
  color: #f5f4f4;
  font-size: 22px;
  border: 0;
}

.sessionk {
  opacity: 1;
  width: 450px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #dddddd;
}

.sessionk .stitle {
  width: 100%;
  height: 54px;
  line-height: 54px;
  background: #f2f2f2;
  padding: 0px 32px;
  color: #666666;
}

.sessionk .stitle i {
  font-size: 22px;
  float: right;
  cursor: pointer;
}

.sessionk .sessionk_text {
  width: 100%;
  height: 176px;
}

.sessionk .sessionk_text p {
  line-height: 100px;
  color: #727272;
  text-align: center;
}

.sessionk .sessionk_text div {
  text-align: center;
}

.sessionk .sessionk_text div button {
  width: 100px;
  height: 30px;
  background: #ff4466;
  color: #fff;
  border: 0px;
  outline: none;
}

.footer {
  width: 100%;
  opacity: 0.5;
  background-image: url("https://s10.mogucdn.com/mlcdn/c45406/181031_40flk9d5hkkjf44246248clfl77f1_1440x500.jpg");
  background-size: 100% 100%;
}

.footer .footer_content {
  padding-top: 60px;
  width: 1300px;
  margin: auto;
  margin-bottom: 53px;
}

.footer .footer_content h2 {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.footer .footer_content h2 i {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.footer .footer_content h2 i img {
  width: 100%;
  height: 100%;
}

.footer .footer_content h2 span {
  display: inline-block;
  width: 110px;
  height: 35px;
}

.footer .footer_content h2 span img {
  width: 100%;
  height: 100%;
}

.footer .footer_content .mgj_footer_helper_mod {
  float: left;
  width: 25%;
  color: #fff;
}

.footer .footer_content .mgj_footer_helper_mod .mgj_footer_helper_mod_container .mgj_footer_helper_title {
  font-size: 14px;
  line-height: 20px;
}

.footer .footer_content .mgj_footer_helper_mod .mgj_footer_helper_mod_container .mgj_footer_helper_title_border {
  width: 30px;
  height: 1px;
  background: #fff;
  margin-top: 4px;
  margin-bottom: 23px;
}

.footer .footer_content .mgj_footer_helper_mod ul li {
  font-size: 14px;
  line-height: 36px;
}

.footer .footer_content_bot {
  width: 1300px;
  margin: auto;
}

.footer .footer_content_bot .footer_nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.footer .footer_content_bot .footer_nav ul {
  width: 990px;
  height: 100%;
  margin: auto;
}

.footer .footer_content_bot .footer_nav ul li {
  float: left;
}

.footer .footer_content_bot .footer_nav ul li a {
  font-size: 12px;
  color: #fff;
  padding: 0 27px;
  border-right: 1px solid #fff;
}

.footer .footer_content_bot .footer_line {
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
}

.footer .footer_content_bot .footer_line .line {
  display: inline-block;
  width: 410px;
  border-top: 2px solid #fff;
  vertical-align: 5px;
}

.footer .footer_content_bot .footer_line .text {
  display: inline-block;
  padding: 0 22px;
  font-size: 12px;
  color: #fff;
}

.footer .footer_content_bot .footer_bot {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.footer .footer_content_bot .footer_bot p {
  line-height: 30px;
}

.footer .footer_content_bot .footer_bot p i {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.footer .footer_content_bot .footer_bot p i img {
  width: 100%;
  height: 100%;
}
