.header {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}

.header .header_top {
  width: 1300px;
  margin: auto;
}

.header .header_top ul {
  width: 380px;
  height: 36px;
  line-height: 36px;
  float: right;
}

.header .header_top ul li {
  float: left;
}

.header .header_top ul li a {
  padding-left: 22px;
  padding-right: 25px;
  font-size: 12px;
  color: #999;
  border-right: 1px solid #a5a5c2;
}

.header .header_top ul li a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: #ff6e88;
  margin-right: 4px;
}

.header .header_top ul li a span {
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #999;
}

.header .header_top ul li .header_a4 {
  padding-right: 0px;
  border-right: 0px;
}

.header_nav {
  padding-top: 20px;
  width: 1300px;
  margin: auto;
  margin-bottom: 38px;
}

.header_nav h1 {
  width: 132px;
  height: 48px;
  margin-right: 28px;
  float: left;
}

.header_nav h1 i {
  display: inline-block;
  width: 36px;
  height: 36px;
}

.header_nav h1 i img {
  width: 100%;
  height: 100%;
}

.header_nav h1 span {
  margin-top: 5px;
  float: right;
}

.header_nav .catalogue {
  width: 50px;
  height: 48px;
  margin-top: 10px;
  margin-right: 100px;
  font-size: 16px;
  color: #333;
  float: left;
}

.header_nav .seach {
  width: 611px;
  height: 50px;
  font-size: 0px;
  float: left;
}

.header_nav .seach input {
  width: 550px;
  height: 50px;
  vertical-align: middle;
  background: #f7f7f7;
  color: #bfa499;
  border: 0px;
  text-indent: 14px;
  border-radius: 6px 0px 0px 6px;
  outline: none;
  text-align: left;
}

.header_nav .seach button {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #8d8d8d;
  color: #fff;
  border: 0px;
  font-size: 20px;
  border-radius: 0px 6px 6px 0px;
  outline: none;
}

.header_nav .header_nav_list {
  width: 216px;
  height: 50px;
  float: left;
}

.header_nav .header_nav_list div {
  height: 100%;
  float: left;
  padding: 0px 10px;
  font-size: 12px;
  text-align: center;
}

.header_nav .header_nav_list div p {
  width: 24px;
  height: 28px;
  font-size: 22px;
  text-indent: 6px;
}

.header_nav .header_login {
  height: 50px;
  line-height: 50px;
  float: right;
}

.header_nav .header_login .icon-denglu {
  font-size: 30px;
  vertical-align: middle;
  color: #ffe1e7;
}

.header_nav .header_login a {
  font-size: 12px;
}

.top_search {
  width: 100%;
  height: 74px;
  position: fixed;
  top: 0;
  background: #fff;
  display: none;
  z-index: 99;
}

.top_search .header_nav2 {
  height: 74px;
  margin: auto;
}

.content {
  width: 1300px;
  margin: auto;
}

.content .content_nav_top {
  width: 1300px;
  height: 52px;
  line-height: 52px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
}

.content .content_nav_top ul {
  width: 800px;
  height: 100%;
  padding-left: 20px;
  cursor: pointer;
}

.content .content_nav_top ul li {
  float: left;
  height: 100%;
  border-top: 2px solid #fafafa;
}

.content .content_nav_top ul li:hover {
  border-top: 2px solid #ff4466;
}

.content .content_nav_top ul li a {
  height: 100%;
  padding: 0 22px;
  font-size: 18px;
}

.content .content_nav_top ul .cloth_sort {
  border-top: 2px solid #ff4466;
}

.content .content_nav_top ul .cloth_sort {
  border-top: 2px solid #ff4466;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.content .content_nav_bot {
  width: 1300px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.content .content_nav_bot ul {
  width: 800px;
  height: 100%;
  float: left;
}

.content .content_nav_bot ul li {
  float: left;
  cursor: pointer;
}

.content .content_nav_bot ul li i {
  display: inline;
  font-size: 14px;
  padding: 0 25px;
  border-right: 1px solid #e5e5e5;
}

.content .content_nav_bot ul li input {
  width: 58px;
  height: 30px;
  margin-top: 10px;
  float: left;
  margin-right: 12px;
}

.content .content_nav_bot ul li input:nth-child(1) {
  margin-left: 24px;
}

.content .content_nav_bot ul li p {
  width: 20px;
  float: left;
}

.content .content_nav_bot ul li button {
  width: 58px;
  height: 30px;
  margin-right: 12px;
  border: 1px solid #dadada;
  background: #fff;
}

.content .content_nav_bot ul li span {
  display: inline-block;
  width: 93px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #dadada;
}

.content .content_product {
  width: 1320px;
  position: relative;
}

.content .content_product .product {
  width: 244px;
  height: 430px;
  border: 1px solid #f2f2f2;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.content .content_product .product .product_img {
  width: 100%;
  height: 335px;
}

.content .content_product .product .product_detail {
  padding: 0 13px;
}

.content .content_product .product .product_detail h4 {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  color: #666;
  display: -webkIt-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.content .content_product .product .product_detail p {
  line-height: 39px;
}

.content .content_product .product .product_detail p span {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.content .content_product .product .product_detail p a {
  margin-left: 4px;
  color: #827466;
}

.content .content_product .product .product_detail p .through_line {
  text-decoration: line-through;
}

.content .content_product .product .product_detail p i {
  float: right;
}

.content .content_product .product .product_detail p i img {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.content .content_product .product:hover {
  border: 1px solid #ff4466;
  cursor: pointer;
}

.content .m-style {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
